<!doctype html>
<html lang="en">

<head>
  <title>Portfolio</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.0-beta1 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    {% load static %}

</head>
    <body>
        <!--NAVBAR-->
        {% include 'portfolio/navbar.html' %}
        <header style='text-align:center'>
 
            <!--TITLE PAGE-->
            <h1>Bogdan's portfolio</h1>
        </header>
        <main>
            <div style='text-align:'>
        
                <br>
                <div style='text-align:center'>
                    <a href=" {% url 'blog:all_blogs' %} ">Blog</a>
                </div>
                <br>
                <!--function check main information on the page-->
                <img src="{% static 'portfolio/Арт 2.png' %}">
        
                {% for project in projects %}
        
                <h3>{{ project.title }}</h3>
        
                <p>{{ project.description }}</p>
        
                <img src="{{ project.imege.url }}">
        
                {% if project.url %}
                <br><a href="{{ project.url }}" target="_blank">link</a>
                {% endif %}
                        
                {% endfor %}
            </div>
        </main> 
        <footer style='text-align:right'>
        <!-- place footer here -->
            <a href="https://www.instagram.com/tezla_xix/">my instagram</a>
        </footer>
    </body>
</html>
