<!doctype html>
<html lang="en">

<head>
  <title>My blogs</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.0-beta1 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    {% load static %}

    <link rel="icon" type='image/png' href="{% static "portfolio/logo.png" %}">

</head>
    <div class="container">
        <body>
            <!--NAVBAR-->
            {% include 'portfolio/navbar.html' %}
            <header style='text-align:center'>
    
                <!--TITLE PAGE-->
                <h1>Blogs</h1>
            </header>
            <br>
            <br>
            <main>
                <div style='text-align:'>
            
                    <h1>Tezla has writing {{ my_blog.count }} blog{{ my_blog.count|pluralize }} </h1>
                    <br>
                    <br>
                    <br>
                    <br>
                    {% for blog in my_blog %}

                    <a href='{% url 'blog:detail' blog.id %}'><h3>{{ blog.title }}</h3></a>
                    <p>{{ blog.date|date:'M d Y'|upper }}</p>
                    <h5>{{ blog.description|truncatechars:50 }}</h5>

                    {% endfor %}
                </div>
            </main> 

            <footer>
                <!-- Footer -->  
                
            </footer>
        </body>
    </div>
</html>
